/*CSS feito para resertar algumas coisas*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none; /*vai tirar as marcações(bolinhas)*/
}

a {
  text-decoration: none;
}
